body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
html, body {
    height: 100%;
}
#map {
	height: calc(100% - 90px);
}
#loadingMessage {
	
}
#header {
	height:80px;
	padding:5px;
}
h1 {
	font-size: 110%;
	margin:0;
	padding:0;
}
p {
	font-size: 80%;
}